<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1xmL5dbzx56sVghucCWHdeX9IsB4Q8sd8AyE76rjHYksZZAF5L9ZjHhh7i32kOiNlKdE&usqp=CAU"
    alt="placeholder view"
    height="400px"
    srcset=""
  >
  </div>
  <div class="big-card__title">
    <h1> titulo</h1>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a varius neque, non pellentesque est. Aliquam volutpat ornare velit, sed tempus eros lobortis ac.</p>
  </div>
</div>
